/* Login.css */
.login-body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #000; /* black background */
  background-image: radial-gradient(#002f4b 0.5px, transparent 0.5px),
                    radial-gradient(#002f4b 0.5px, #000 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  background: rgba(0, 0, 0, 0.6);
  border: 2px solid #00ff99; /* neon green border */
  border-radius: 16px;
  padding: 40px;
  width: 350px;
  box-shadow: 0 0 15px rgba(0, 255, 153, 0.4);
  color: #fff;
}

.login-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
  color: #00ccff; /* light blue */
  border-bottom: 2px solid #00ccff;
  display: inline-block;
}

.login-label {
  display: block;
  margin-top: 15px;
  font-weight: 500;
  color: #00ff99;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #00ccff;
  border-radius: 8px;
  background: #111;
  color: #00ff99;
  outline: none;
}

.login-input::placeholder {
  color: #008c8c;
}

.login-input{
  width: 100%;
  background-color: #001f1f;
  border: 1px solid #00ccff;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  color: #00ffcc;
  font-size: 0.95rem;
  outline: none;
  transition: all 0.3s ease;
}

.login-input:hover {
  background-color: #002b2b;
  border: 1px solid #00ffcc;
  box-shadow: 0 0 6px rgba(0, 255, 153, 0.4);
}

.login-button {
  margin-top: 25px;
  width: 100%;
  padding: 12px;
  background: linear-gradient(to right, #00ccff, #00ff99);
  border: none;
  color: #000;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-button:hover {
  background: linear-gradient(to right, #00ff99, #00ccff);
}

.login-message {
  text-align: center;
  margin-top: 20px;
  background: #003f3f;
  padding: 10px;
  border-radius: 6px;
  color: #00ffcc;
}

.login-footer {
  margin-top: 25px;
  text-align: center;
  color: #999;
}

.login-link {
  color: #00ccff;
  text-decoration: none;
  font-weight: bold;
}
