@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.navbar-toggler-icon {
  filter: invert(1); /* makes icon visible on dark bg */
}

.it-master {
  font-family: 'Zilla Slab', serif;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 1.5px;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.it-master:hover {
  color: #c2c2c2;
  text-decoration: none;
  text-shadow: 1px 2px 3px rgba(240, 232, 232, 0.4);
}

.nav-link {
  font-size: 1rem;
  color: white;
  font-weight: 400;
  padding: auto;
  transition: font-size 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
  font-size: 1.2rem;
  color: #7e7e7e;
}

/* Optional smoother transition */
#navbarNav.collapse {
  transition: height 0.35s ease;
}
