/* About */
.about-page {
    font-family: 'Segoe UI', sans-serif;
}
.about-page p{
    font-size: 1.25rem;
}
.section-about {
    padding-bottom: 60px ;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 0.9; 
}

.welcome-about {
  position: relative;
  min-height: 450px; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; 
}

.about-heading{
font-size: 4rem;
font-family: serif;
font-weight: bold;
}
.about-image {
    border-radius: 12px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 350px;
}

.about-quote {
    font-size: 1rem;
    font-style: italic;
    color: #555;
    border-left: 4px solid #1976d2;
    padding-left: 16px;
    margin: 24px 0;
}

.section-skills {
    padding: 60px 0;
    background-color: rgb(45, 45, 83);
}

.skills-image {
    max-height: 400px;
    object-fit: cover;
    border-radius: 12px;
}

.section-impact {
    padding: 60px 0;
}
.impact h3{
    font-size: 2.5rem;
}

.stats-grid h3 {
    font-size: 28px;
    margin-bottom: 8px;
}

/* Footer */
.footer-link {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: rgb(114, 112, 114);
    text-decoration: underline;
}

.footer i {
    transition: transform 0.3s ease;
}

/* login page */
/* === Common container === */
.login-wrapper {
  background: #f4f7ff;
}

/* === Login layout box === */
.login-box {
  width: 90%;
  max-width: 900px;
  border-radius: 16px;
  overflow: hidden;
}

/* === Left Image Section === */
.login-image {
  background-image: url('https://i.pinimg.com/736x/4a/90/33/4a903338c0e478248153bd8f3f6f6745.jpg');  
  background-size: cover;
  background-position: center;
  min-height: 400px;
}

/* === Form === */
.form-section {
  background-color: #fff;
}

.form-control {
  border-radius: 8px;
  padding: 12px;
  font-size: 15px;
  border: 1px solid #ccc;
}

.form-control:focus {
  border-color: #3474f1;
  box-shadow: 0 0 0 0.2rem rgba(52, 116, 241, 0.25);
}

.login-btn {
  background-color: #3474f1;
  font-weight: 600;
  padding: 12px;
  border-radius: 8px;
  border: none;
}

.login-btn:hover {
  background-color: #2457c5;
}

/* not found page  */
.not-found-page {
  padding: 2rem;
}

.not-found-img{
  max-width: 800px;
  width: 40%;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* contact us page  */
.contact-wrapper {
  border-left: 5px solid #198754;
  border-radius: 0.5rem;
}

.contact-image {
  object-fit: cover;
  height: 80%;
}
